<div class="large-2 columns">
  <ul class="stack button-group">
    <%= link_to image_tag("logo3.png", :class => "logo ie"), admin_path, :class => "logo" %>
    <li><br></li>
    <li><p class="admin-header-info"><strong>Admin&nbsp;&nbsp;&nbsp;Center</strong></p></li>
    <li><%= link_to "Authors", new_author_path, :class => "button" %></li>
    <li><%= link_to "Categories", new_category_path, :class => "button" %></li>
    <li><%= link_to "Pictures", new_picture_path, :class => "button" %></li>
    <li><a href="#" class="button alert">Quit</a></li>
  </ul>
</div>
