<div class="admin-index">
  <%= render 'side' %>

  <div class="large-9 columns">
    <div class="row">
      <%= render file: 'authors/index.html.erb'%>
    </div>
    <div class="row">
      <%= render file: 'categories/index.html.erb' %>
    </div>
    <div class="row">
      <h3>Pictures
        <small>
          <%= link_to "More Pictures", pictures_path, :class => "button tiny right" %>
        </small>
      </h3>
    </div>
  </div>
</div>
<footer class="admin-footer">
  <hr>
  <p class="footer-info">A Vision Admin Center</p>
</footer>
