<div class="admin-index">
  <%= render 'side' %>

  <div class="large-9 columns">
    <div class="row">
      <%= render file: 'authors/index.html.erb'%>
    </div>
    <div class="row">
      <%= render file: 'categories/index.html.erb' %>
    </div>
    <div class="row">

    </div>
  </div>
</div>
