<div class="row">
  <%= render "pictures/pictures.html.erb" %>
  <div class="large-3 pull-9 columns">
    <%= image_tag("logo.svg") %>
    <%= render "categories/categories.html.erb" %>
  </div>
</div>
<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© A Vision Studio, 2014</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
