<div class="large-10 push-2 columns message_content">
<br>
<br>
  <div class="row">
    <div class="large-8 columns">
      <br>
      <h3>Leave us a message</h3>
      <br>
      <%= render 'form' %>
    </div>

    <div class="large-4 columns">
      <br>
      <h3>Contact Infomation</h3>
      <br>
      <h4>Address</h4>
      <label>Unit 24-160 East Beaver Creek RD, Richmond Hill, ON L4B 3L4</label>
      <br>
      <h4>Tel</h4>
      <label>9057661212</label>
    </div>
  </div>
</div>
<%= render 'categories/categories' %>
