<% provide(:title, "A Vision Studio - Sign in") %>
<div class="row sign_in_form">
  <div class="large-4 columns large-centered text-center">
    <h1>Sign in</h1>
    <%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.text_field :name, :placeholder => "Enter user name here" %>

    <%= f.password_field :password, :placeholder => "Enter password here" %>

    <%= f.submit "Sign in", class: "button center" %>
    <% end %>
  </div>
</div>
