<% if sign_in? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <iframe width="560" height="315" src="<%= @video_src %>" frameborder="0" allowfullscreen></iframe>
</p>
<% else %>
<%= render file: 'sessions/new.html.erb' %>
<% end %>
