<div class="admin-index">
  <%= render 'side' %>
  <div class="large-9 columns">
    <div class="row">
      <h3>Pictures</h3>

        <div class="single-pic large-4 colunms">

        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <hr>
  <p class="footer-info">A Vision Admin Center</p>
</footer>
