<div class="large-10 push-2 columns pic-slide">
  <ul class="example-orbit" data-orbit data-options="animation:fade;
    pause_on_hover:false;
    animation_speed:400;
    navigation_arrows:false;
    bullets:true;
    slide_number:false;">
    <% @pictures.each do |pic| %>
    <li>
      <%= image_tag(pic.photo_url, alt: pic.name) %>
      <div class="orbit-caption">
        Caption Session.
      </div>
    </li>
    <% end %>
  </ul>
</div>
