// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation/components/buttons";
@import "foundation/components/orbit";
$include-html-button-classes: $include-html-classes;

$button-font-color: #fff;
$button-font-color-alt: #333;

$include-html-orbit-classes: $include-html-classes ;

$orbit-caption-bg: rgba(30,30,30, 0.5);
$orbit-caption-padding: rem-calc(6 6);

@import 'foundation';
$body-font-color: #999;
