// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation/components/orbit";
$include-html-orbit-classes: $include-html-classes ;

$orbit-caption-bg: rgba(30,30,30, 0.5);
$orbit-caption-padding: rem-calc(6 6);
$orbit-timer-show-progress-bar: false !default;

@import 'foundation';
$body-font-color: #999;
.pic-info {
  display: none;
}
