// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation/components/side-nav";
$side-nav-padding: rem-calc(5 0);
$side-nav-list-margin: rem-calc(0 0 0 0);
$side-nav-list-position: right;

.custom-side-nav {
  @include side-nav(
    $divider-color: #333,
    $link-color: #999,
    $link-color-hover: white,
    $font-size: rem-calc(13)
  );
}

hr {
  border-color: #333;
}

#header {
  margin-top: 5.2px;
  margin-bottom: 6px;
}

body {
  background-color: #000;
}

a {
  color: #999;
}

a:hover {
  color: white;
}

p {
  font-color: #999;
}

footer {
  color: #999;
}

h1,h2,h3,h4 {
  color: white;
}

.sidebar, .pic-slide, .page-info {
  margin-top: 80px;
}

.example-orbit {
  height: 600px;
}

.example-orbit li img {
  margin: 0 auto;
}
