// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation/components/side-nav";
@import "foundation/components/buttons";

$side-nav-padding: rem-calc(0 0);
$side-nav-list-margin: rem-calc(0 0 0 0);
$side-nav-list-position: right;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
$button-tny: rem-calc(0);
$button-margin-bottom: rem-calc(0);

.custom-side-nav {
  @include side-nav(
    $divider-color: #333,
    $link-color: #999,
    $link-color-hover: white,
    $font-size: rem-calc(14)
  );
  li {
    padding-top: 10px;
    padding-buttom: 10px;
    a:not(.button) {
      padding-left: 0px;
    }
  }
}

.side-btn {
  padding: 16px 15px 17px 15px;
}

hr {
  border-color: #333;
}

#header {
  margin-top: 5.2px;
  margin-bottom: 6px;
}

body {
  background-color: #000;
}

a {
  color: #999;
}

a:hover {
  color: white;
}

p {
  font-color: #999;
}

h1,h2,h3,h4 {
  color: white;
}

.sidebar, .pic-slide, .page-info, .admin-index {
  margin-top: 80px;
}

.example-orbit {
  height: 600px;
}

.example-orbit li img {
  margin: 0 auto;
}

.ie img[src*=".svg"] {
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%;
  }
}

.logo {
  img {
    height: 100px;
    width: auto;
  }
  vertical-align: top;
}

.admin-index {
  a, label {
    color: white;
  }
  color: white;
}

.admin-header-info {
  text-align: center;
  color: white;
}

footer {
  margin-top: 50px;
}

.custom-btn {
  margin: 0 0 0 0;
}

.new_message, .footer-info, .new_picture, .edit_picture, .new_author, .edit_author, .new_category, .edit_category, .new_video, .edit_video {
  color: white;
  label {
    color: white;
  }
}

.sign_in_form {
  margin-top: 80px;
}

.message_content {

}
