<ul class="custom-side-nav ">
  <% Category.all.each do |category| %>
  <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
  <li class="divider"></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">About</a></li>
</ul>
