<div class="admin-index">
  <%= render "static_pages/side" %>
  <div class="large-9 columns">
    <h3>Editing category</h3>
    <%= render 'form' %>
  </div>
</div>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<footer>
  <hr>
  <p class="footer-info">A Vision Admin Center</p>
</footer>
