<% if sign_in? %>
<h3>Categories
</h3>

<table>
  <thead>
    <tr>
      <th colspan="2">Name</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td colspan="2"><%= category.name %></td>
        <td class="btn-tb"><%= link_to 'Edit', edit_category_path(category), :class => "button tiny custom-btn" %></td>
        <td class="btn-tb"><%= link_to 'Delete', category, :class => "button tiny alert custom-btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
<%= render file: 'sessions/new.html.erb' %>
<% end %>
